<div class="box">
    <div class="box-header">
        <h3 class="box-title" ng-bind="listData.nomeEntidade">Farmácias</h3>
        <a class="btn btn-success pull-right" ng-href="{{'#' + telaEdit + '/0'}}">
            <span class="fa  fa-user-plus"> </span> Novo
        </a>
    </div>
    <av-pesquisa campos-pes="listData.camposPesquisa" labels-pes="listData.labels" lista="objListagem" clazz-name="{{listData.longNameClazz}}"></av-pesquisa>
    <div class="progress" ng-show="carregando">
        <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:{{carregamento}}%">
            Carregando...
        </div>
    </div>
    <div class="box-body" ng-if="!carregando">
        <table id="tb-{{listData.nomeEntidade}}" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th ng-repeat="label in listData.labels">{{label}}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in objListagem">
                    <td ng-repeat="campo in listData.camposPesquisa" ng-bind="obj[campo]"></td>
                    <td>
                        <a class="btn btn-primary" ng-href="{{'#' + telaEdit + '/' + obj.id}}">
                            <span class="fa fa-pencil"> </span>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>